.normal_size{
    width:60px;
    height:130px;
}
.saver_size{
    width: 410px;
    height: 200px;
}
.ugol {
    z-index:2;
    position:absolute;
}
.slide_height{
    height: 300px;
}

.block_head {
    width: 600px;
    float: left;
    color: #010101;
    font: italic 17px arial;
    padding: 0 0 3px;
    margin: 0 0px 10px 0;
    border-bottom: 1px solid #8A8985;
}

.round_block {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #ffffff;
    border: white solid 1px;
    padding: 20px;
    margin: 20px 0 0 0;
    position: relative;
    behavior: url(/css/PIE.htc);
}