{% extends 'basemodified.html' %}

{% block menu %}
    <ul class="nav nav-list">
        <li class="active"><a href="/"><i class="icon-white icon-home"></i> Home</a></li>
        <li><a href="#"><i class="icon-pencil"></i> цветовая гамма</a></li>
        <li class="divider"></li>
        <li><a data-toggle="modal" href="#myModal">Контактные данные</a></li>
    </ul>

    <div id="myModal" class="modal hide fade" style="display: block; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Modal Heading</h3>
        </div>
        <div class="modal-body">
            <h4>Контактные данные</h4>

            <h2>Телефон</h2>
            <p></p>8 (917) <b>246-46-09</b><br> 8 (917) <b>927-48-74</b></p>
            <br>
            <p>Магазин находится в самом центре города, в 150 метрах от здания Транснефти. Мы работаем без обеда
                и выходных, с 9:00 до 21:00.</p>
            <img src="../media/img/map.bmp" alt="Центр города">
            <a href="http://maps.yandex.ru/-/CVaG506C"><p style="color: #004ab3;">Карта</p></a>

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% block up_content %}
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="{% block active1 %}{% endblock %}"><a href="prise-enter" >Входные двери</a>
                </li>
                <li class="{% block active2 %}{% endblock %}"><a href="prise-parade">Парадные
                    двери</a></li>
                <li class="{% block active3 %}{% endblock %}"><a href="prise-lattice" >Решетки</a>
                </li>
            </ul>
        </div>
    {% endblock %}


    {% block prise_content %}
        <div class="span3 well">
            <a href="prise1">
                <img src="../media/img/catDoor1.png" alt="Входных дверей">

                <p>Входных дверей</p></a>
        </div>

        <div class="span3 well">
            <a href="prise2">
                <img src="../media/img/catDoor2.png" alt="Парадные двери">

                <p>Парадные двери</p></a>
        </div>

        <div class="span3 well">
            <a href="prise3">
                <img src="../media/img/catDoor3.png" alt="Решетки">

                <p>Решетки</p></a>
        </div>
    {% endblock %}
{% endblock %}