{% extends 'basemodified.html' %}

{% block after_slide %}
    <div class="offset2 span10">
        <ul class="nav nav-tabs span 6">
            <li class="{% block active1 %}{% endblock %}"><a href="prise-enter#content">Входные двери</a>
            </li>
            <li class="{% block active2 %}{% endblock %}"><a href="prise-parade#content">Межкомнатные
                двери</a></li>
            <li class="{% block active3 %}{% endblock %}"><a href="prise-lattice#content">Арки</a>
            </li>
            <li class="{% block active4 %}{% endblock %}"><a href="prise-anti-fire#content">Противопожарные</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block menu %}
    <ul class="nav nav-list">
        <li class="active"><a href="/"><i class="icon-white icon-home"></i> Home</a></li>
        <li class="divider"></li>
        <li><a href="color#content" class="well">внутренняя отделка двери<span style="padding: 0px 5px;">&nbsp;</span><i class="icon-pencil"></i></a></li>
        <li class="divider"></li>
        <li><a data-toggle="modal" href="#myModal" class="well">Контактные данные</a></li>
    </ul>


{% endblock %}
{% block content %}
    {% block up_content %}

    {% endblock %}

    {% block prise_content %}

    {% endblock %}
    <div id="myModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Контактные данные</h3>
        </div>
        <div class="modal-body">
            <div class="span12">
                <div class="pull-left">
                    <h2>Телефон</h2>

                    <p>8 (917) <b>246-46-09</b><br> 8 (917) <b>927-48-74</b></p>
                </div>
                <div class="pull-right">
                    <h2>Адресс</h2>

                    <p>г.Альметьевск, ул. Зифы Балакиной, д.1в</p>
                </div>
            </div>
            <br>
            <p><span style="padding: 0px 10px;">&nbsp;</span>Магазин находится в самом центре города, в 150 метрах от здания Транснефти. Мы работаем без обеда
                и выходных, с 9:00 до 21:00.</p>
            <img src="../media/img/map.bmp" alt="Центр города">
            <a href="http://maps.yandex.ru/-/CVaG506C"><u style="color: #004ab3;">Карта</u></a>

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
        </div>
    </div>
{% endblock %}