{% extends 'basecatalog.html' %}
{% block title %}
    Каталог Альметьевские двери
{% endblock %}

{% block up_content %}
    <div class="block_head">
        Каталог
    </div>
{% endblock %}

{% block prise_content %}
    <div class="span3 well">
        <a href="prise-enter">
            <img src="../media/img/catDoor1.png" alt="Входные двери">

            <p>Входные двери</p></a>
    </div>

    <div class="span3 well">
        <a href="prise-parade">
            <img src="../media/img/catDoor2.png" alt="Парадные двери">

            <p>Межкомнатные</p></a>
    </div>

    <div class="span3 well">
        <a href="prise-lattice">
            <img src="../media/img/catDoor3.png" alt="Решетки">

            <p>Арки</p></a>
    </div>
    <div class="span3 well">
        <a href="prise-anti-fire">
            <img src="../media/img/catDoor4.gif" alt="Решетки">
            <br>
            <p>Противопожарные</p></a>
    </div>
{% endblock %}
