{% extends 'basecatalog.html' %}
{% block title %}
    Каталог Альметьевские двери
{% endblock %}
{% block after_slide %}
{% endblock %}

{% block up_content %}
    <div class="block_head">
        Каталог
    </div>
{% endblock %}

{% block prise_content %}
    <div class="span3 well">
        <a href="prise-enter#content">
            <img src="../media/img/catDoor1.png" alt="Входные двери">

            <p>Входные двери (Стальные)</p></a>
    </div>

    <div class="span3 well">
        <a href="prise-parade#content">
            <img src="../media/img/catDoor2.png" alt="Парадные двери">

            <p>Межкомнатные</p>
            <br></a>
    </div>

    <div class="span3 well">
        <a href="prise-lattice#content">
            <img src="../media/img/catDoor3.png" alt="Решетки">

            <p>Арки</p><br></a>
    </div>
    <div class="span3 well ">
        <a href="prise-anti-fire#content">
            <img src="../media/img/catDoor4.gif" alt="Решетки">
            <br>
            <p>Противопожарные</p></a>
    </div>
{% endblock %}
