{% extends 'basecatalog.html' %}
{% block title %}
    Цветовая гамма дверей
{% endblock %}
{% block prise_content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Цвет:</th>
            <th>наименование:</th>
            <th>Код:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="4" align="center" height="40">ЛАМИНИРОВАННЫЕ ДВЕРИ</td>
        </tr>
        <tr>
            <td>1</td>
            <td><img src="../media/img/ital oreh.gif"></td>
            <td>ИТАЛЬЯНСКИЙ ОРЕХ</td>
            <td>126</td>
        </tr>
        <tr>
            <td>2</td>
            <td><img src="../media/img/milan oreh.gif"></td>
            <td>МИЛАНСКИЙ ОРЕХ</td>
            <td>127</td>
        </tr>
        <tr>
            <td colspan="4" align="center" height="40">ШПОНИРОВАННЫЕ ДВЕРИ</td>
        </tr>
        <tr>
            <td>3</td>
            <td><img src="../media/img/buk new.gif"></td>
            <td>БУК</td>
            <td>128</td>
        </tr>
        <tr>
            <td>4</td>
            <td><img src="../media/img/dub natural.gif"></td>
            <td>ДУБ НАТУРАЛЬНЫЙ</td>
            <td>129</td>
        </tr>
        <tr>
            <td>5</td>
            <td><img src="../media/img/oreh temn1.gif"></td>
            <td>ОРЕХ ТЕМНЫЙ</td>
            <td>130</td>
        </tr>
        <tr>
            <td>6</td>
            <td><img src="../media/img/oreh svetl1.gif"></td>
            <td>ОРЕХ СВЕТЛЫЙ</td>
            <td>131</td>
        </tr>
        <tr>
            <td>7</td>
            <td><img src="../media/img/venge.gif"></td>
            <td>ВЕНГЕ</td>
            <td>132</td>
        </tr>
        <tr>
            <td>8</td>
            <td><img src="../media/img/krasn derevo1.gif"></td>
            <td>КРАСНОЕ ДЕРЕВО</td>
            <td>133</td>
        </tr>

        </tbody>
    </table>
{% endblock %}