{% extends 'basesteeldoors.html' %}
{% block title %}
    Цветовая гамма дверей
{% endblock %}
{% block style_lib %}
    <link rel="stylesheet" href="../media/css/intdoor.css">
    <link rel="stylesheet" href="../media/css/jquery.fancybox-1.3.4.css">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="../media/js/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("a.intdoor").fancybox({
                'transitionIn':'elastic',
                'transitionOut':'elastic',
                'speedIn':600,
                'speedOut':200,
                'hideOnContentClick':true
            });
        });
    </script>
{% endblock %}
{% block menu_active2 %}
active
{% endblock %}
{% block prise_content %}


        <h2 align="center">Палитра цветов порошковой окраски</h2>
        <br><br>
        <div style="padding-left: 40px;">
            <a rel="palitra" class="intdoor" title="синяя матовая шагрень" href="../media/indoorVariants/palitra/01.jpg"><img alt="синяя матовая шагрень" src="../media/indoorVariants/palitra/min/01.jpg"></a>
            <a rel="palitra" class="intdoor" title="зеленая матовая шагрень" href="../media/indoorVariants/palitra/02.jpg"><img alt="зеленая матовая шагрень" src="../media/indoorVariants/palitra/min/02.jpg"></a>
            <a rel="palitra" class="intdoor" title="коричневая матовая шагрень" href="../media/indoorVariants/palitra/03.jpg"><img alt="коричневая матовая шагрень" src="../media/indoorVariants/palitra/min/03.jpg"></a>
            <a rel="palitra" class="intdoor" title="светло-серая матовая шагрень" href="../media/indoorVariants/palitra/04.jpg"><img alt="светло-серая матовая шагрень" src="../media/indoorVariants/palitra/min/04.jpg"></a>
            <a rel="palitra" class="intdoor" title="серая матовая шагрень" href="../media/indoorVariants/palitra/05.jpg"><img alt="серая матовая шагрень" src="../media/indoorVariants/palitra/min/05.jpg"></a>
            <a rel="palitra" class="intdoor" title="зеленый" href="../media/indoorVariants/palitra/06.jpg"><img alt="зеленый" src="../media/indoorVariants/palitra/min/06.jpg"></a>
            <a rel="palitra" class="intdoor" title="золото" href="../media/indoorVariants/palitra/07.jpg"><img alt="золото" src="../media/indoorVariants/palitra/min/07.jpg"></a>
            <a rel="palitra" class="intdoor" title="медь" href="../media/indoorVariants/palitra/08.jpg"><img alt="медь" src="../media/indoorVariants/palitra/min/08.jpg"></a>
            <a rel="palitra" class="intdoor" title="серебристый" href="../media/indoorVariants/palitra/09.jpg"><img alt="серебристый" src="../media/indoorVariants/palitra/min/09.jpg"></a>
            <a rel="palitra" class="intdoor" title="синий" href="../media/indoorVariants/palitra/10.jpg"><img alt="синий" src="../media/indoorVariants/palitra/min/10.jpg"></a>
        </div>


{% endblock %}