{% extends 'basesteeldoors.html' %}
{% block title %}
    Внутренняя отделка двери
{% endblock %}
{% block style_lib %}
    <link rel="stylesheet" href="../media/css/intdoor.css">
    <link rel="stylesheet" href="../media/css/jquery.fancybox-1.3.4.css">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="../media/js/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("a.intdoor").fancybox({
                'transitionIn':'elastic',
                'transitionOut':'elastic',
                'speedIn':600,
                'speedOut':200,
                'hideOnContentClick':true
            });
        });
    </script>
{% endblock %}
{% block menu_active1 %}
active
{% endblock %}
{% block prise_content %}
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#panel" data-toggle="tab">Панели МДФ</a></li>
        <li><a href="#otd" data-toggle="tab">Декоративная отделка панелей</a></li>
        <li><a href="#group_doors" data-toggle="tab">Фрезеровки панелей МДФ</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="panel"><!-- Panels -->
            <h2 align="center">Панели МДФ</h2>
            <br><br>
            <div style="padding-left: 40px;"><a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels01.jpg"><img
                    src="../media/indoorVariants/panel/min/Pannels01.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels02.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels02.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels03.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels03.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels04.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels04.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels05.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels05.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels06.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels06.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels07.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels07.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels08.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels08.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels09.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels09.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels10.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels10.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels11.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels11.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels12.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels12.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels13.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels13.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels14.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels14.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels15.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels15.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels16.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels16.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels17.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels17.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels18.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels18.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels19.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels19.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels20.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels20.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels21.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels21.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels22.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels22.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels23.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels23.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels24.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels24.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels25.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels25.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels26.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels26.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels27.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels27.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels28.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels28.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels29.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels29.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels30.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels30.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels31.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels31.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels32.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels32.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels33.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels33.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels34.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels34.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels35.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels35.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels36.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels36.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels37.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels37.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels38.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels38.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels39.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels39.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels40.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels40.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels41.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels41.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels42.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels42.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels43.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels43.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels44.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels44.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels45.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels45.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels46.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels46.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels47.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels47.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels48.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels48.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels49.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels49.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels50.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels50.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels51.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels51.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels52.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels52.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels53.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels53.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels54.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels54.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels55.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels55.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels56.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels56.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels57.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels57.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels58.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels58.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels59.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels59.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels60.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels60.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels61.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels61.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels62.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels62.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels63.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels63.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels64.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels64.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels65.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels65.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels66.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels66.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels67.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels67.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels68.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels68.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels69.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels69.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels70.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels70.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels71.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels71.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels72.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels72.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels73.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels73.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels74.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels74.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels75.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels75.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels76.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels76.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels77.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels77.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels78.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels78.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels79.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels79.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels80.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels80.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels81.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels81.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels82.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels82.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels83.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels83.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels84.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels84.jpg"></a>
                <a rel="doors" class="intdoor" href="../media/indoorVariants/panel/Pannels85.jpg"><img
                        src="../media/indoorVariants/panel/min/Pannels85.jpg"></a>


            </div></div>
        <div class="tab-pane fade" id="otd">
            <!-- Otd -->
            <h2 align="center">Декоративная отделка панелей</h2>
            <br><br>
            <div style="padding-left: 40px;">
                <a rel="otd" class="intdoor" title="бордовый глянец" href="../media/indoorVariants/otd/otd01.png"><img alt="бордовый глянец" src="../media/indoorVariants/otd/min/otd01.png"></a>
                <a rel="otd" class="intdoor" title="вишня виктория" href="../media/indoorVariants/otd/otd02.png"><img alt="вишня виктория" src="../media/indoorVariants/otd/min/otd02.png"></a>
                <a rel="otd" class="intdoor" title="ваниль" href="../media/indoorVariants/otd/otd03.png"><img alt="ваниль" src="../media/indoorVariants/otd/min/otd03.png"></a>
                <a rel="otd" class="intdoor" title="белый шелк" href="../media/indoorVariants/otd/otd04.png"><img alt="белый шелк" src="../media/indoorVariants/otd/min/otd04.png"></a>
                <a rel="otd" class="intdoor" title="желтое золото" href="../media/indoorVariants/otd/otd05.png"><img alt="желтое золото" src="../media/indoorVariants/otd/min/otd05.png"></a>
                <a rel="otd" class="intdoor" title="дуб беленый" href="../media/indoorVariants/otd/otd06.png"><img alt="дуб беленый" src="../media/indoorVariants/otd/min/otd06.png"></a>
                <a rel="otd" class="intdoor" title="желтый глянец" href="../media/indoorVariants/otd/otd07.png"><img alt="желтый глянец" src="../media/indoorVariants/otd/min/otd07.png"></a>
                <a rel="otd" class="intdoor" title="желтый шагрень" href="../media/indoorVariants/otd/otd08.png"><img alt="желтый шагрень" src="../media/indoorVariants/otd/min/otd08.png"></a>
                <a rel="otd" class="intdoor" title="бук" href="../media/indoorVariants/otd/otd09.png"><img alt="бук" src="../media/indoorVariants/otd/min/otd09.png"></a>
                <a rel="otd" class="intdoor" title="зеленое яблоко" href="../media/indoorVariants/otd/otd10.png"><img alt="зеленое яблоко" src="../media/indoorVariants/otd/min/otd10.png"></a>
                <a rel="otd" class="intdoor" title="вишня оксфорд" href="../media/indoorVariants/otd/otd11.png"><img alt="вишня оксфорд" src="../media/indoorVariants/otd/min/otd11.png"></a>
                <a rel="otd" class="intdoor" title="дикая груша" href="../media/indoorVariants/otd/otd12.png"><img alt="дикая груша" src="../media/indoorVariants/otd/min/otd12.png"></a>
                <a rel="otd" class="intdoor" title="капучино" href="../media/indoorVariants/otd/otd13.png"><img alt="капучино" src="../media/indoorVariants/otd/min/otd13.png"></a>
                <a rel="otd" class="intdoor" title="кожа коричневая" href="../media/indoorVariants/otd/otd14.png"><img alt="кожа коричневая" src="../media/indoorVariants/otd/min/otd14.png"></a>
                <a rel="otd" class="intdoor" title="корень ореха" href="../media/indoorVariants/otd/otd15.png"><img alt="корень ореха" src="../media/indoorVariants/otd/min/otd15.png"></a>
                <a rel="otd" class="intdoor" title="лазурный шелк" href="../media/indoorVariants/otd/otd16.png"><img alt="лазурный шелк" src="../media/indoorVariants/otd/min/otd16.png"></a>
                <a rel="otd" class="intdoor" title="лазурь глянец" href="../media/indoorVariants/otd/otd17.png"><img alt="лазурь глянец" src="../media/indoorVariants/otd/min/otd17.png"></a>
                <a rel="otd" class="intdoor" title="махагон светлый" href="../media/indoorVariants/otd/otd18.png"><img alt="махагон светлый" src="../media/indoorVariants/otd/min/otd18.png"></a>
                <a rel="otd" class="intdoor" title="орех ноче гварнери" href="../media/indoorVariants/otd/otd19.png"><img alt="орех ноче гварнери" src="../media/indoorVariants/otd/min/otd19.png"></a>
                <a rel="otd" class="intdoor" title="орех темный" href="../media/indoorVariants/otd/otd20.png"><img alt="орех темный" src="../media/indoorVariants/otd/min/otd20.png"></a>
                <a rel="otd" class="intdoor" title="мозаика бежевая" href="../media/indoorVariants/otd/otd21.png"><img alt="мозаика бежевая" src="../media/indoorVariants/otd/min/otd21.png"></a>
                <a rel="otd" class="intdoor" title="дуб американский" href="../media/indoorVariants/otd/otd22.png"><img alt="дуб американский" src="../media/indoorVariants/otd/min/otd22.png"></a>
                <a rel="otd" class="intdoor" title="ольха темная" href="../media/indoorVariants/otd/otd23.png"><img alt="ольха темная" src="../media/indoorVariants/otd/min/otd23.png"></a>
                <a rel="otd" class="intdoor" title="дуб рустикальный новый" href="../media/indoorVariants/otd/otd24.png"><img alt="дуб рустикальный новый" src="../media/indoorVariants/otd/min/otd24.png"></a>
                <a rel="otd" class="intdoor" title="дуб старый" href="../media/indoorVariants/otd/otd25.png"><img alt="дуб старый" src="../media/indoorVariants/otd/min/otd25.png"></a>
                <a rel="otd" class="intdoor" title="розовый мрамор" href="../media/indoorVariants/otd/otd26.png"><img alt="розовый мрамор" src="../media/indoorVariants/otd/min/otd26.png"></a>
                <a rel="otd" class="intdoor" title="синий металлик" href="../media/indoorVariants/otd/otd27.png"><img alt="синий металлик" src="../media/indoorVariants/otd/min/otd27.png"></a>
                <a rel="otd" class="intdoor" title="титан тесненый" href="../media/indoorVariants/otd/otd28.png"><img alt="титан тесненый" src="../media/indoorVariants/otd/min/otd28.png"></a>
                <a rel="otd" class="intdoor" title="титан шагрень" href="../media/indoorVariants/otd/otd29.png"><img alt="титан шагрень" src="../media/indoorVariants/otd/min/otd29.png"></a>
                <a rel="otd" class="intdoor" title="красный глянец" href="../media/indoorVariants/otd/otd30.png"><img alt="красный глянец" src="../media/indoorVariants/otd/min/otd30.png"></a>
                <a rel="otd" class="intdoor" title="красная волна" href="../media/indoorVariants/otd/otd31.png"><img alt="красная волна" src="../media/indoorVariants/otd/min/otd31.png"></a>
                <a rel="otd" class="intdoor" title="дуб мореный" href="../media/indoorVariants/otd/otd32.png"><img alt="дуб мореный" src="../media/indoorVariants/otd/min/otd32.png"></a>
                <a rel="otd" class="intdoor" title="салатовый мрамор" href="../media/indoorVariants/otd/otd33.png"><img alt="салатовый мрамор" src="../media/indoorVariants/otd/min/otd33.png"></a>
                <a rel="otd" class="intdoor" title="грецкий орех" href="../media/indoorVariants/otd/otd34.png"><img alt="грецкий орех" src="../media/indoorVariants/otd/min/otd34.png"></a>
                <a rel="otd" class="intdoor" title="махагон глянец" href="../media/indoorVariants/otd/otd35.png"><img alt="махагон глянец" src="../media/indoorVariants/otd/min/otd35.png"></a>
                <a rel="otd" class="intdoor" title="кедр глянец" href="../media/indoorVariants/otd/otd36.png"><img alt="кедр глянец" src="../media/indoorVariants/otd/min/otd36.png"></a>
                <a rel="otd" class="intdoor" title="васильковый" href="../media/indoorVariants/otd/otd38.png"><img alt="васильковый" src="../media/indoorVariants/otd/min/otd38.png"></a>
                <a rel="otd" class="intdoor" title="фиолетовый" href="../media/indoorVariants/otd/otd39.png"><img alt="фиолетовый" src="../media/indoorVariants/otd/min/otd39.png"></a>
                <a rel="otd" class="intdoor" title="фисташковый" href="../media/indoorVariants/otd/otd40.png"><img alt="фисташковый" src="../media/indoorVariants/otd/min/otd40.png"></a>
                <a rel="otd" class="intdoor" title="черная мозаика" href="../media/indoorVariants/otd/otd41.png"><img alt="черная мозаика" src="../media/indoorVariants/otd/min/otd41.png"></a>
                <a rel="otd" class="intdoor" title="яблоня локарно" href="../media/indoorVariants/otd/otd42.png"><img alt="яблоня локарно" src="../media/indoorVariants/otd/min/otd42.png"></a>
                <a rel="otd" class="intdoor" title="штрокс зеленый" href="../media/indoorVariants/otd/otd43.png"><img alt="штрокс зеленый" src="../media/indoorVariants/otd/min/otd43.png"></a>
                <a rel="otd" class="intdoor" title="оранжевый шагрень" href="../media/indoorVariants/otd/otd44.png"><img alt="оранжевый шагрень" src="../media/indoorVariants/otd/min/otd44.png"></a>
                <a rel="otd" class="intdoor" title="голубой лед" href="../media/indoorVariants/otd/otd45.png"><img alt="голубой лед" src="../media/indoorVariants/otd/min/otd45.png"></a>
                <a rel="otd" class="intdoor" title="штрокс светлый" href="../media/indoorVariants/otd/otd46.png"><img alt="штрокс светлый" src="../media/indoorVariants/otd/min/otd46.png"></a>
                <a rel="otd" class="intdoor" title="бежевый перламутр" href="../media/indoorVariants/otd/otd47.png"><img alt="бежевый перламутр" src="../media/indoorVariants/otd/min/otd47.png"></a>
                <a rel="otd" class="intdoor" title="жасмин" href="../media/indoorVariants/otd/otd48.png"><img alt="жасмин" src="../media/indoorVariants/otd/min/otd48.png"></a>
                <a rel="otd" class="intdoor" title="махагон коричневый" href="../media/indoorVariants/otd/otd49.png"><img alt="махагон коричневый" src="../media/indoorVariants/otd/min/otd49.png"></a>
                <a rel="otd" class="intdoor" title="апельсин глянец" href="../media/indoorVariants/otd/otd50.png"><img alt="апельсин глянец" src="../media/indoorVariants/otd/min/otd50.png"></a>
                <a rel="otd" class="intdoor" title="белый тисненый" href="../media/indoorVariants/otd/otd51.png"><img alt="белый тисненый" src="../media/indoorVariants/otd/min/otd51.png"></a>
                <a rel="otd" class="intdoor" title="ваниль глянец" href="../media/indoorVariants/otd/otd52.png"><img alt="ваниль глянец" src="../media/indoorVariants/otd/min/otd52.png"></a>
                <a rel="otd" class="intdoor" title="венге" href="../media/indoorVariants/otd/otd53.png"><img alt="венге" src="../media/indoorVariants/otd/min/otd53.png"></a>
                <a rel="otd" class="intdoor" title="золотая волна" href="../media/indoorVariants/otd/otd54.png"><img alt="золотая волна" src="../media/indoorVariants/otd/min/otd54.png"></a>
                <a rel="otd" class="intdoor" title="дуб осветленый" href="../media/indoorVariants/otd/otd55.png"><img alt="дуб осветленый" src="../media/indoorVariants/otd/min/otd55.png"></a>

            </div>
        </div>
        <div class="tab-pane fade" id="group_doors">
            <!-- Group_doors -->
            <h2 align="center">Фрезеровки панелей МДФ</h2>
            <br><br>
            <div style="width: 600px; margin: 0 auto;">
                <img alt="" src="../media/indoorVariants/group_doors/1.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/2.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/3.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/4.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/5.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/6.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/7.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/8.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/9.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/10.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/11.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/12.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/13.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/14.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/15.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/16.jpg ">
                <img alt="" src="../media/indoorVariants/group_doors/17.jpg ">
            </div>
        </div>
    </div>
{% endblock %}