<!DOCTYPE HTML PUBLIC>
{% extends 'basemodified.html' %}

{% block title %}
    Альметьевск двери
{% endblock title %}

{% block script %}
    <script type="text/javascript">
        new Image().src = "";
    </script>
{% endblock %}

{% block menu %}
    <!--Sidebar content-->
    <h2>Каталог</h2>

    <div class="normal_size" onmouseover="document.getElementById('door').src='media/img/door_open1.jpg';"
         onmouseout="document.getElementById('door').src='media/img/door1.jpg';">
        <a href="catalog"><img id="door" src="media/img/door1.jpg" alt="Каталог дверей"></a>
    </div>

{% endblock menu %}

{% block content %}
    <h3>Почему люди предпочитают заказывать у нас?</h3>

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Удобное расположение и время работы:
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <p><span style="padding: 0px 10px;">&nbsp;</span>Магазин находится в самом центре города, в 150 метрах от здания
                        <b>Транснефти</b>. Мы работаем без обеда
                        и выходных, <b>с 10:00 до 19:00</b>.</p>
                    <img src="../media/img/map.bmp" alt="Центр города">
                    <a href="http://maps.yandex.ru/-/CVaG506C"><u style="color: #004ab3;">Карта</u></a>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Удобно выбирать:
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body in collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <p><span style="padding: 0px 10px;">&nbsp;</span>Мы сделали описания максимально подробными. Фотографии, размеры, комплектация, указаны для каждой
                        двери.</p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    Сами доставим, сами установим:
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p><span style="padding: 0px 10px;">&nbsp;</span>Просто выберите понравившуюся вам дверь на сайте, а все проблемы по доставке, установке,
                        демонтажу старой двери мы берем на себя.</p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    Сроки:
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p><span style="padding: 0px 10px;">&nbsp;</span>В день заказа или на следующий рабочий день (пн-сб) мы производим замер, а через день производим
                        установку. <br>При необходимости, возможна срочная установка в день заказа.</p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                    Просто заказать:
                </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p><span style="padding: 0px 10px;">&nbsp;</span>Закажите дверь удобным для Вас способом, позвоните по телефону в Альметьевске: <br>
                        8 (917) <b>246-46-09</b><br> 8 (917) <b>927-48-74</b></p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                    Выгодные цены:
                </a>
            </div>
            <div id="collapseSix" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p><span style="padding: 0px 10px;">&nbsp;</span>???????????????????????????????????????????????????. На сайте
                        указаны цены на двери в полной комплектации.</p>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
