{% extends 'basecatalog.html' %}
{% block script %}

{% endblock %}

{% block active1 %}active{% endblock %}

{% block prise_content %}
    <!-- content menu -->
    <ul id="myTab" class="nav nav-tabs">
        <li class="dropdown">
            <a style="color: red;" href="#" class="dropdown-toggle" data-toggle="dropdown" rel="popover"
               data-content="Очень заманчивое предложение!" data-original-title="ТОРОПИТЕСЬ!!!">Специальное<br>предложение:
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#complect" data-toggle="tab">Комплектация</a></li>
                <li><a href="#cheap" data-toggle="tab">Дешевле не найти</a></li>
            </ul>
        </li>
        <li class="active"><a href="#home" data-toggle="tab">Как выбрать</a></li>
        <li class=""><a href="#construction" data-toggle="tab">Конструкция<br>двери</a></li>

    </ul>
    <!-- menu's answer -->
    <div id="myTabContent" class="tab-content">
        <!-- Special offers -->
        <div class="tab-pane fade" id="complect">
            <img src="../media/img/prise/enterDoors.bmp" alt="optom">
        </div>
        <div class="tab-pane fade" id="cheap">
            <img src="../media/img/prise/prise_7500.jpg" alt="cheap">
        </div>

        <!-- How to check metal door -->
        <div class="tab-pane fade active in" id="home">
            <img class="pull-right" src="../media/img/prise/steeldoors.png">

            <div id="advices" class="navbar navbar-static">
                <div class="navbar-inner">
                    <div class="container" style="width: auto;">
                        <a class="brand" href="#">Стальные двери:</a>
                        <ul class="nav">
                            <li class="active"><a href="#how_to_check">@Как выбрать?</a></li>
                            <li><a href="#mean_cheak">@Выбирая, <br> важно знать.</a></li>
                            <li><a href="#presence">@Внешняя отделка</a></li>
                            <li><a href="#metal_presence">@Металлические двери <br>с отделкой</a></li>
                            <li><a href="#lock">@Замок</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-spy="scroll" data-target="#advices" data-offset="0" class="scrollspy-example">
                <div class="round_block" id="how_to_check">
                    <h4 >Как выбрать металлическую дверь?</h4>

                    <p><span style="padding: 0px 10px;">&nbsp;</span>
                        Действительно, как? – ведь выбирая металлическую дверь, Вы, прежде всего, представляете ее
                        как прочную, внешне привлекательную конструкцию. Добавим и немаловажную финансовую сторону
                        вопроса. Представленных на рынке производителей стальных дверей – множество, и выбор нужной
                        для любой категории граждан неограничен – от простых надежных до суперэлитных, украшенных
                        элементами художественной ковки и снабженных электронными замками.
                    </p>
                </div>
                <div class="round_block" id="mean_cheak">
                    <h4>Выбирая стальную дверь, важно знать следующее:</h4>

                    <p><span style="padding: 0px 10px;">&nbsp;</span>
                        Устройство самой двери. Ее корпус состоит из элементов жесткости, расположенных вертикально
                        и горизонтально, и приваренных поверх них стальных листов, толщина которых составляет 1,8-3
                        мм. Они и определяют основной вес конструкции (см. конструкция). Крайне важно, чтобы полый
                        корпус металлической двери был заполнен звуко-теплоизолирующим, экологически чистым
                        материалом. Это может быть минеральная базальтовая вата. Она же и применяется в производстве
                        стальных дверей ООО ПФ «Гермес». Основная, несущая часть двери - это рама, или, как ее еще
                        называют, коробка. Она выполняется из высокопрочных стальных профилей толщиной 1,5 мм.</p>
                </div>
                <div class="round_block" id="presence">
                    <h4>Внешняя отделка</h4>

                    <p><span
                            style="padding: 0px 10px;">&nbsp;</span>
                        На ней и сконцентрировано внимание покупателя. Порошковое напыление – самый распространенный
                        вид покрытия металлических дверей. Оно экологически чистое, антивандальное. Поэтому такой
                        двери не страшны природные катаклизмы и проделки хулиганов. Цветовая гамма обширна. В этом
                        сочетании, пожалуй, и обуславливается высокий спрос и невысокая цена дверей ООО ПФ «Гермес».
                    </p>
                </div>
                <div class="round_block" id="metal_presence">
                    <h4>Металлические двери с отделкой</h4>

                    <p><span
                            style="padding: 0px 10px;">&nbsp;</span>
                        из плит МДФ, для которых существуют следующие типы покрытий внутренней отделки двери:<br>
                        - шпон ценных пород дерева;<br>
                        - ламинирование или окрашивание.<br>
                        Достоинством отделки плитами МДФ является то, что они намного дешевле массива дерева, но
                        незначительно уступают по красоте. Также необходимо выбрать металлическую дверь с глазком,
                        широкоугольный обзор которого позволит увидеть всю площадку перед дверью.
                    </p>
                </div>
                <br>

                <p style="margin-left: 20px; color: red;"><span style="padding: 0px 10px;">&nbsp;</span>При выборе
                    постарайтесь обратить внимание на
                    рекламу, где часто Вам могут предложить дверь за 3-4 тысячи рублей. Такая дешевизна имеет все
                    отрицательные
                    свойства: плохая тепло- и шумоизоляция, отсутствие в конструкции тех или иных элементов,
                    необходимых для прочности.

                <div class="round_block" id="lock">
                    <h4>Замок</h4>

                    <p><span style="padding: 0px 10px;">&nbsp;</span>
                        Это, пожалуй, одна из главных составляющих надежной двери. Металлические двери должны иметь
                        не менее двух замков, причем разных систем – сувальдных и цилиндровых. Сувальдный более
                        надежен и труднее поддается взлому. Цилиндровый замок – основной. Если первый (сувальдный)
                        трудно вскрыть, то цилиндровый проще выбить. Но грохот, поднятый в подъезде, привлечет
                        внимание соседей, да и опытный воришка не захочет поднимать шум. Замки металлических дверей
                        имеют ригели (цилиндры), выходящие из него при повороте ключа, которые при закрывании входят
                        в специальные отверстия, и, таким образом, прочно блокируют дверь.
                    </p>
                </div>

                <br>

                <p class="text" style="margin-left: 20px;"><span style="padding: 0px 10px;">&nbsp;</span>
                    Вот, пожалуй,краткий обзор того, что поможет Вам сделать правильный выбор и
                    обеспечить безопасность Вашего жилья или офиса.</p>

            </div>
        </div>

        <!-- Door's contruction -->
        <div class="tab-pane fade" id="construction">
            <div style="float: left;">
                <img alt="Конструкция двери" src="../media/img/prise/shema_dveri.jpg" width="317" height="580">
            </div>
            <div style="display: block; font-size: 14px; line-height: 17px;">
                1 - дверная коробка<br>
                2 - установочный штырь (6 шт.)<br>
                3 - ребра жесткости<br>
                4 - внутренняя панель<br>
                5 - противосъемный штырь (3 шт.)<br>
                6 - уплотнитель на дверном полотне (дополнительно по коробу)<br>
                7 - глазок<br>
                8 - отделочный уголок<br>
                9 - дверное полотно<br>
                10 - ригель вертикального запирания (2 шт.)<br>
                11 - задвижка<br>
                12 - замок с ручкой<br>
                13 - утеплитель<br>
                14 - внутренний лист металла*<br><br>

                * - по заказу клиента<br><br><br>

                В зависимости от числа полотен двeри могут быть однопольными или двупольными. Число полотен, как
                правило, определяется шириной проема в стене. Однопольные двери рекомендуется устанавливать по
                ширине
                проема не более 1030 мм. Если ширина дверного проема больше, рекомендуется неподвижная полка или
                вторая
                отворяющаяся часть двери. При высоте дверного проема более 2400 мм рекомендуется установка фрамуги.
            </div>
        </div>

    </div>
{% endblock %}